* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  background: white;
  z-index: 1;
  position: relative;
  width: 250px;
  height: 250px;
}

.round {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 2;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  z-index: -1;
  border-radius: 50%;
}

.red {
  /* background: red; */
}

.counter {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
}
