* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}

body {
  background: grey;
}

.container {
  margin: 100px auto;
  background: pink;
  /* width: 240px; */
  width: 75%;
}

.black {
  height: 30px;
  width: 30px;
  display: inline-block;
  background: black;
}

.white {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px black solid;
}
