* {
  margin: 0;
  padding: 0;
}

body {

}

div {
  /* display: block; */
  display: inline-block;
}

h1, p, h2, h3, h4, h5, h6
{
  /* display: block; */
  display: inline-block;
  background: lightgreen;
  border: 1px black solid;
  margin: 10px;
  padding: 20px;
}

header {
  margin: 15px;
  background: lightgreen;
  border: 1px black solid;
}

span {
  /* display: inline; */
  display: block;
}

span, a, em, b {
  margin: 20px;
  /* padding: 20px; */
  background: lightcoral;
  border: 1px red solid;
}

.centered {
  padding: 20px;
}

